# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

.idea/

# Compiled
public/script

# Dependency directories
node_modules/

url.js

logs/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env


